page-wating-view {
    .col {
        padding: 0px;
    }
    .inputShape{
        border:1px solid lightgray;
        border-radius: 50px 50px;
    
        width:calc(100%-100px);
        margin: 10px;
        padding-right: 10px;
        padding-left: 10px;
        height: 50px;
        // background-color: #f6f6f7;
    }
    .ng-dirty{
        border-color: #38b5ed;
    }
    .label-md {
        margin: 0px;
    }
    .scaleClassrtl{
        font-size:35px; color:white;
        transform: scale(-1,1);
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .scaleClassltr{
        font-size:40px; color:white;
        position: absolute;
        top: 5px;
        left: 10px;
    }
    .item-md {
        padding-left: 16px;
        padding-right: 16px;
    }
    .item-ios {
        padding-left: 16px;
        padding-right: 16px;
    }
}
