<ion-content >

  <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld8.jpg" style="width: 100%; height: 250px;">
        <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);">
        <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()" *ngIf='!show'></ion-icon>
      </ion-col>
    </ion-row>

    <!-- <p style="text-align:center;color:#314453;font-size: 20px;margin-bottom:10px;margin-top: 20px;">{{"login" | translate}}</p> -->

    <ion-row  style="text-align: center;margin-top:30px" *ngIf='show'>
      <ion-col col-5></ion-col>
      <ion-col col-2> 
        <ion-spinner name="circles" ></ion-spinner>
      </ion-col>
      <ion-col col-5></ion-col>
      </ion-row>

      <p style="font-size:20px;text-align:center" *ngIf='show'>{{"pleaseWaitUntilOrderAccepted" | translate}}</p>
      <p style="font-size:20px;text-align:center" *ngIf='show'>{{"remainingTime" | translate}} {{time}} {{"sec" | translate}}</p>

      <p style="font-size:20px;text-align:center;margin-top:30px" *ngIf='!show'>{{"nonearbyDrivers" | translate}}</p>
</ion-content>
