
 <ion-content >
  
        <div   #map id="map" ></div>
        <ion-icon (click)="dismiss()" name="close-circle" style="font-size: 40px;color: gray;" [ngClass]="scaleClass"></ion-icon>
     
  
  
  
  </ion-content>
  