page-about {

    .toolbar-background {
        background: white;
        color:black;
        
      }
      .inputShape{
        border:1px solid lightgray;
        border-radius: 10px;
        padding-left:20px;
        width:calc(100%-100px);
        background-color: #f6f6f7;
    }
    .ng-dirty{
        border-color: #38b5ed;
    }   
}
