<!-- <ion-header>
  <ion-navbar>
    <ion-title style="text-align:center">Reach us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color :#f6f6f7"> 
<p style="color:grey">Please fill your personal data below, our agent will contact you shortly to provide you with trial version credentials</p>


<form [formGroup]="logInForm" >
  <ion-item no-lines>
    <ion-label stacked style="margin-top:10px;margin-bottom:10px;font-size: 14px">Name</ion-label>
    <ion-input type="text" formControlName="name" [(ngModel)]="name" placeholder="Enter Your Name Here" class="inputShape"></ion-input>
  </ion-item>

<ion-item *ngIf="!logInForm.controls.name.valid&&submitAttempt" no-lines>
<p style="color:red"> {{errors.name}} </p>
</ion-item>

<ion-item no-lines>
  <ion-label stacked style="margin-top:10px;margin-bottom:10px;font-size: 14px">Email</ion-label>
  <ion-input type="email" formControlName="email" [(ngModel)]="email" placeholder="ex. hortense_erdman@caleigh.info" class="inputShape"></ion-input>
</ion-item>

<ion-item *ngIf="!logInForm.controls.email.valid&&submitAttempt" no-lines>
<p style="color:red"> {{errors.email}} </p>
</ion-item>


  <ion-item no-lines>
    <ion-label stacked style="margin-top:10px;margin-bottom:10px;font-size: 14px">Phone Number</ion-label>
    <ion-input type="tel" formControlName="phone" [(ngModel)]="phone" placeholder="Enter Your Phone Number Here" class="inputShape"></ion-input>
  </ion-item>
  
  <ion-item *ngIf="!logInForm.controls.phone.valid&&submitAttempt" no-lines>
    <p style="color:red"> {{errors.phone}} </p>
    </ion-item>
  <div padding>
     
    <button ion-button type="submit"  block style="width:100%;font-size:16px;border-radius: 10px;background-color: #38b5ed;    margin-left: 5px;" (click)="login()">SUBMIT</button>
  </div>
</form>



</ion-content> -->
