<!-- <ion-header>

  <ion-navbar>
    <ion-title>loginAndRegister</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-content >

  <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld8.jpg" style="width: 100%; height: 250px;">
        <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);">
        <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon>
      </ion-col>
    </ion-row>

    <p style="text-align:center;color:#314453;font-size: 20px;margin-bottom:10px;margin-top: 20px;">{{"login" | translate}}</p>

  <form [formGroup]="registerForm" >

     <!-- <ion-label style="color:#30414c">{{placeholder.region}} </ion-label> -->
    
      <!-- <ion-label >  <ion-icon name="ios-call" style="font-size:30px;color:#415357"></ion-icon></ion-label> -->
<!-- 
    <ion-item no-lines >
           <ion-input  [dir]="langDirection" type="tel" formControlName="mobile" [(ngModel)]="mobile" [placeholder]="placeholder.mobile" class="inputShape"></ion-input>
    </ion-item> -->
      
    <!-- <div sty> -->
    <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;height: 45px;">
      <!-- <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#415357;transform-origin:right top;"  >
        {{placeholder.mobile}}
      </ion-label>

      <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#415357;transform-origin:left top;">
        {{placeholder.mobile}}
      </ion-label> -->

      <ion-input  [dir]="langDirection" type="tel"  formControlName="mobile" [(ngModel)]="mobile"  style="color:#415357" [placeholder]="placeholder.mobile"></ion-input>
    </ion-item>
  <!-- </div> -->

    <ion-item text-wrap  *ngIf="!registerForm.controls.mobile.valid&&submitAttempt"  no-lines>
      <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.mobileErr}} </p>
    </ion-item>


     <!-- <ion-label style="color:#30414c">{{placeholder.region}} </ion-label> -->
    
      <!-- <ion-label >  <ion-icon name="ios-lock" style="font-size:30px;color:#415357"></ion-icon></ion-label> -->

    <!-- <ion-item no-lines >
           <ion-input  [dir]="langDirection" type="password" formControlName="password" [(ngModel)]="password" [placeholder]="placeholder.passworrd" class="inputShape"></ion-input>
    </ion-item> -->
    <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 20px;height: 45px;">
      <!-- <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#415357;transform-origin:right top;"  >
        {{placeholder.passworrd}}
      </ion-label>

      <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#415357;transform-origin:left top;">
        {{placeholder.passworrd}}
      </ion-label> -->

      <ion-input  [dir]="langDirection" type="password"  formControlName="password" [(ngModel)]="password"  style="color:#415357" [placeholder]="placeholder.passworrd"></ion-input>
    </ion-item>
    <ion-item text-wrap  *ngIf="!registerForm.controls.password.valid&&submitAttempt"  no-lines>
      <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.passworrdErr}} </p>
    </ion-item>

    <ion-item no-lines ></ion-item>
    <ion-row >
      <ion-col style="text-align:center;">
        <button ion-button type="submit"  style="width:60%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;border: 2px solid #8c8986;" (click)="loginOrRegister()">{{"login" | translate}}</button>
      </ion-col>
    </ion-row>

  </form>
<!-- 
  <p style="text-align:center;color:#314453;font-size: 20px;margin-bottom:0px;margin-top: 20px;">{{"fblogin" | translate}}</p>
  <p style="text-align:center;margin-top: 10px;" ><ion-icon name="logo-facebook" style="font-size: 40px;color:#3b5999;" (click)="fbLogin()"></ion-icon></p> -->

    
</ion-content>
