<!-- <ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-content >
  <!-- <ion-row>
    <ion-col col-1>
      <img src="assets/icon/back.png" style="width: 20px;" [ngClass]="scaleClass" (click)="dismiss()">
    </ion-col>
    <ion-col>
      <p style="color:white;font-size:20px;margin:0px;font-weight:bold;text-align:center;    margin-top: -3px;">{{pageTitle}}</p>
    </ion-col>
  </ion-row> -->
  
  <!-- <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld8.jpg" style="width: 100%; height: 250px;">
        <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);">
        
        <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon>
        <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 52px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">{{"register" | translate}}</p>
        <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 39px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">{{"register" | translate}}</p>

      </ion-col>
    </ion-row>
    <img src="{{userImageUrl}}"  class="rounded-circle" style="width: 125px;height: 125px;border:2px solid #b07070;position: absolute;z-index: 977;left: calc(50% - 60px);margin-top: -62px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" > -->
    <!-- <p style="text-align:center;color:#314453;font-size: 20px;margin-bottom:10px;margin-top: 20px;">{{"register" | translate}}</p> -->


  <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
        <!-- <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);"> -->
        <!-- <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon> -->
        <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon>
        <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 52px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 2px;">{{"register" | translate}}</p>
        <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 39px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 2px;">{{"register" | translate}}</p>
      </ion-col>
    </ion-row>

    <img (click)="presentActionSheet('4')" [src]="userImg"  class="rounded-circle" style="width: 125px;height: 125px;border:2px solid #b07070;position: absolute;z-index: 977;left: calc(50% - 66px);margin-top: -47px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" >


  <form [formGroup]="registerForm" >
<!-- <ion-label style="color:#30414c">{{placeholder.region}} </ion-label> -->
    
      <!-- <ion-label >  <ion-icon name="md-person" style="font-size:30px;color:#415357"></ion-icon></ion-label> -->

    <!-- <ion-item no-lines >
            <ion-input  [dir]="langDirection" type="text" formControlName="name" [(ngModel)]="name" [placeholder]="placeholder.name" class="inputShape"></ion-input>
    </ion-item> -->
      
    

    <!-- <ion-item  no-lines style="border-bottom: 2px solid lightgray;"> -->
        <ion-item  no-lines style=" border:1px solid lightgray;
        border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 88px;height: 45px;">
      <!-- <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#415357;transform-origin:right top;"  >
        {{placeholder.name}}
      </ion-label>

      <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#415357;transform-origin:left top;">
        {{placeholder.name}}
      </ion-label> -->

      <ion-input [placeholder]="placeholder.name"  [dir]="langDirection" type="text"  formControlName="name" [(ngModel)]="name"  style="color:#415357"></ion-input>
    </ion-item>
    <ion-item text-wrap  *ngIf="!registerForm.controls.name.valid&&submitAttempt"  no-lines>
      <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.nameErr}} </p>
    </ion-item>

    <!-- <ion-label style="color:#30414c">{{placeholder.region}} </ion-label> -->
    
      <!-- <ion-label >  <ion-icon name="ios-call" style="font-size:30px;color:#415357"></ion-icon></ion-label> -->

    <!-- <ion-item no-lines >
            <ion-input  [dir]="langDirection" type="tel" formControlName="mobile" [(ngModel)]="mobile" [placeholder]="placeholder.mobile" class="inputShape"></ion-input>
    </ion-item> -->

    <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 20px;height: 45px;">
      <!-- <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#415357;transform-origin:right top;"  >
        {{placeholder.mobile}}
      </ion-label>

      <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#415357;transform-origin:left top;">
        {{placeholder.mobile}}
      </ion-label> -->

      <ion-input [placeholder]="placeholder.mobile" [dir]="langDirection" type="tel"  formControlName="mobile" [(ngModel)]="mobile"  style="color:#415357"></ion-input>
    </ion-item>
    <ion-item text-wrap  *ngIf="!registerForm.controls.mobile.valid&&submitAttempt"  no-lines>
      <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.mobileErr}} </p>
    </ion-item>


 <!-- <ion-label style="color:#30414c">{{placeholder.region}} </ion-label> -->
    
      <!-- <ion-label >  <ion-icon name="ios-mail" style="font-size:30px;color:#415357"></ion-icon></ion-label> -->
    <!-- <ion-item no-lines >
     
      <ion-input  [dir]="langDirection" type="email" formControlName="email" [(ngModel)]="email" [placeholder]="placeholder.email" class="inputShape"></ion-input>
    </ion-item> -->
      
    <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 20px;height: 45px;">
      <!-- <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#415357;transform-origin:right top;"  >
        {{placeholder.email}}
      </ion-label>

      <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#415357;transform-origin:left top;">
        {{placeholder.email}}
      </ion-label> -->

      <ion-input [placeholder]="placeholder.email" [dir]="langDirection" type="email"  formControlName="email" [(ngModel)]="email"  style="color:#415357"></ion-input>
    </ion-item>
    <ion-item text-wrap  *ngIf="!registerForm.controls.email.valid&&submitAttempt"  no-lines>
      <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.emailErr}} </p>
    </ion-item>

 <!-- <ion-label style="color:#30414c">{{placeholder.region}} </ion-label> -->
    
      <!-- <ion-label >  <ion-icon name="ios-lock" style="font-size:30px;color:#415357"></ion-icon></ion-label> -->

    <!-- <ion-item no-lines >
           <ion-input  [dir]="langDirection" type="password" formControlName="password" [(ngModel)]="password" [placeholder]="placeholder.passworrd" class="inputShape"></ion-input>
    </ion-item> -->
      
    <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 20px;height: 45px;">
      <!-- <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#415357;transform-origin:right top;"  >
        {{placeholder.passworrd}}
      </ion-label> -->
<!-- 
      <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#415357;transform-origin:left top;">
        {{placeholder.passworrd}}
      </ion-label> -->

      <ion-input  [placeholder]="placeholder.passworrd" [dir]="langDirection" type="password"  formControlName="password" [(ngModel)]="password"  style="color:#415357"></ion-input>
    </ion-item>
    <ion-item text-wrap  *ngIf="!registerForm.controls.password.valid&&submitAttempt"  no-lines>
      <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.passworrdErr}} </p>
    </ion-item>

     <!-- <ion-label style="color:#30414c">{{placeholder.region}} </ion-label> -->
    
      <!-- <ion-label >  <ion-icon name="ios-lock" style="font-size:30px;color:#415357"></ion-icon></ion-label> -->
<!-- 
    <ion-item no-lines >
           <ion-input  [dir]="langDirection" type="password" formControlName="confirmpassword" [(ngModel)]="confirmpassword" [placeholder]="placeholder.confirmpassword" class="inputShape"></ion-input>
    </ion-item> -->
    <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 20px;height: 45px;">
      <!-- <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#415357;transform-origin:right top;"  >
        {{placeholder.confirmpassword}}
      </ion-label>

      <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#415357;transform-origin:left top;">
        {{placeholder.confirmpassword}}
      </ion-label> -->

      <ion-input [placeholder]="placeholder.confirmpassword" [dir]="langDirection" type="password"  formControlName="confirmpassword" [(ngModel)]="confirmpassword"  style="color:#415357"></ion-input>
    </ion-item>
    <ion-item text-wrap  *ngIf="!registerForm.controls.confirmpassword.valid&&submitAttempt"  no-lines>
      <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.confirmpasswordErr}} </p>
    </ion-item>

    <!-- no-lines style="border-bottom: 2px solid lightgray;" -->
    <ion-item  style="margin-top:10px">      
      <ion-label style="color:#415357;font-size: 20px;">{{'accounttype'|  translate}}</ion-label>
    <ion-select   placeholder="{{'accounttype'|  translate}}" [(ngModel)]="accounttype"  [ngModelOptions]="{standalone: true}"   okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#415357" >  
        <ion-option  style="font-size: 15px;" value="1" > {{'user'|  translate}}</ion-option>
        <ion-option  style="font-size: 15px;" value="2" > {{'driver'|  translate}}</ion-option>
        </ion-select>    
    </ion-item>

    <div *ngIf="accounttype == '2'">
 <!-- <ion-label style="color:#30414c">{{placeholder.region}} </ion-label> -->
      
        <!-- <ion-label >  <ion-icon name="ios-car" style="font-size:30px;color:#415357"></ion-icon></ion-label> -->
<!-- 
      <ion-item no-lines >
               <ion-input  [dir]="langDirection" type="text"  [(ngModel)]="carnumber" [ngModelOptions]="{standalone: true}"  [placeholder]="placeholder.carnumber" class="inputShape"></ion-input>
      </ion-item> -->

      <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 25px;height: 45px;">
        <!-- <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#415357;transform-origin:right top;"  >
          {{placeholder.carnumber}}
        </ion-label>
  
        <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#415357;transform-origin:left top;">
          {{placeholder.carnumber}}
        </ion-label> -->
  
        <ion-input [placeholder]="placeholder.carnumber" [dir]="langDirection" type="text"  [ngModelOptions]="{standalone: true}" [(ngModel)]="carnumber"  style="color:#415357"></ion-input>
      </ion-item>

      <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 20px;height: 45px;">
        <!-- <ion-label  *ngIf="langDirection == 'rtl'"  floating style="color:#415357;transform-origin:right top;"  >
          {{placeholder.cartype}}
        </ion-label>
  
        <ion-label *ngIf="langDirection == 'ltr'" floating style="color:#415357;transform-origin:left top;">
          {{placeholder.cartype}}
        </ion-label> -->
  
        <ion-input  [placeholder]="placeholder.cartype" [dir]="langDirection" type="text"  [ngModelOptions]="{standalone: true}" [(ngModel)]="cartype"  style="color:#415357"></ion-input>
      </ion-item>

      <ion-item  style="margin-top:10px">      
          <ion-label style="color:#415357;font-size: 20px;">{{'carSize'|  translate}}</ion-label>
        <ion-select   placeholder="{{'carSize'|  translate}}" [(ngModel)]="carSize"  [ngModelOptions]="{standalone: true}"   okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#415357" >  
            <ion-option  style="font-size: 15px;" value="1" > {{'bigcar'|  translate}}</ion-option>
            <ion-option  style="font-size: 15px;" value="0" > {{'smallcar'|  translate}}</ion-option>

          </ion-select>    
        </ion-item>
        
      <!-- no-lines style="border-bottom: 2px solid lightgray;" -->
      <ion-item >
        <ion-label style="color:#415357;font-size: 20px;">{{"NationalID" | translate}}</ion-label>
        <ion-avatar item-end>
          <ion-icon *ngIf="!NationalIDImg" name="ios-camera" style="font-size:40px;color:#415357" (click)="presentActionSheet('1')"></ion-icon>
          <img *ngIf="NationalIDImg" src="{{NationalIDImg}}" (click)="presentActionSheet('1')">
        </ion-avatar>
      </ion-item>

      <!-- no-lines style="border-bottom: 2px solid lightgray;" -->
      <ion-item >
        <ion-label style="color:#415357;font-size: 20px;">{{"drivinglicense" | translate}}</ion-label>
        <ion-avatar item-end>
          <ion-icon *ngIf="!drivinglicenseImg" name="ios-camera" style="font-size:40px;color:#415357" (click)="presentActionSheet('2')"></ion-icon>
          <img *ngIf="drivinglicenseImg" src="{{drivinglicenseImg}}" (click)="presentActionSheet('2')">
        </ion-avatar>
      </ion-item>

      <!-- no-lines style="border-bottom: 2px solid lightgray;" -->
      <ion-item >
        <ion-label style="color:#415357;font-size: 20px;">{{"Criminalrecord" | translate}}</ion-label>
        <ion-avatar item-end>
          <ion-icon *ngIf="!CriminalrecordImg" name="ios-camera" style="font-size:40px;color:#415357" (click)="presentActionSheet('3')"></ion-icon>
          <img *ngIf="CriminalrecordImg" src="{{CriminalrecordImg}}" (click)="presentActionSheet('3')">
        </ion-avatar>
      </ion-item>

      
    </div>
    <ion-item no-lines></ion-item>
    <ion-row >
      <ion-col style="text-align:center;">
        <button ion-button type="submit"  style="width:60%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;border: 2px solid #8c8986;" (click)="loginOrRegister()">{{"register" | translate}}</button>
      </ion-col>
    </ion-row>

  </form>

  <ion-item no-lines></ion-item>
  <!-- <p style="text-align:center;color:#314453;font-size: 20px;margin-bottom:0px;margin-top: 20px;">{{"fblogin" | translate}}</p>
  <p style="text-align:center;margin-top: 10px;" ><ion-icon name="logo-facebook" style="font-size: 40px;color:#3b5999;" (click)="fbLogin()"></ion-icon></p> -->

    
</ion-content>
