<ion-tabs>
  <!-- <ion-tab [root]="tab1Root" tabTitle="Dashboard" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Setup" tabIcon="tablet-portrait"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Site" tabIcon="flag"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Scan Trap" tabIcon="qr-scanner"></ion-tab>
  <ion-tab  (ionSelect)="onTabSelected()"  tabTitle="Settings" tabIcon="menu"></ion-tab> -->
  <!-- (select)="onTabSelected()" menuToggle  -->
  <!-- <ion-icon name="menu"></ion-icon> -->
  <!-- <ion-tab [root]="tab5Root" tabIcon="more" ></ion-tab> -->
  <!-- <ion-tab [root]="tab5Root" [tabIcon]="moreicon" ></ion-tab> -->
</ion-tabs>
