<!--
  Generated template for the HalfMapToMarkLocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>halfMapToMarkLocation</ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content  style="background-color:white;">

 

  <ion-row style="height: 80%;background-color: #f6f6f7;" >
    <ion-col>
      <!-- <div id="map_canvas" ></div> -->
      <div   #map id="map" > </div> 
      <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon>
    </ion-col>
  </ion-row>
  
  <ion-row style="height: 80%;background-color:white;"  >
    <ion-col>
    <h5  style="margin:0px ; text-align:center">{{specifyLoc}}</h5>
        <div >
          <button ion-button type="submit" block style="padding: 25px 0px;font-size:20px;border-radius: 10px;margin-top:20px;background-color: #e01216;width: 80%;
          margin: auto;
          margin-top: 12px;" (click)="nextBtnClicked()">{{buttonTxt}}</button>
        </div>
    </ion-col>
  </ion-row>


</ion-content>
