page-half-map-to-mark-location {
    #map_canvas {
        height: 100%;
        width: 100%;
        // height: 100%;
      }
      #map{
        height:100%;
        width: 100%;
    }
    .label-md {
        margin: 0px;
    }
    .label-ios {
        margin: 0px;
    }
    .col {
        padding: 0px;
    }
    .scaleClassrtl{
        font-size:35px; color:#e01213;
        position: absolute;
        top: 5px;
        right: 20px;
        transform: scale(-1,1);
    }
    .scaleClassltr{
        font-size:35px; color:#e01213;
        position: absolute;
        top: 5px;
        left: 20px;
    }

}
