<!-- <ion-header>

  <ion-navbar>
    <ion-title>addressHistory</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content >

  <ion-row>
    <ion-col style="text-align:center;">
      <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
      <!-- <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon> -->
      <!-- <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon> -->
      <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon>
      <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 48px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">سجل العناوين</p>
      <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 49px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">Address History</p>
    </ion-col>
  </ion-row>


  <ion-row *ngFor="let item of addressArr" style="border:2px solid #b07070;border-radius:10px;background-color:#f9f7f8;padding-right: 10px;padding-left: 10px;margin: 10px;">
        <ion-col col-10>
      <!-- <p style="color:#30414c;margin: 0px;margin-top: 10px;">{{item.time}} <span style="color:#b07070"> {{daytra}} </span> {{item.date}} </p> -->
      <ion-label style="color:gray;margin-left: 5px;margin-right: 5px;">{{"place" | translate}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px">{{item.name}}</span></ion-label>
      <!-- <ion-label *ngIf="item.description" style="color:gray;margin-left: 5px;margin-right: 5px;">{{orderdetailstra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px">{{item.description}}</span></ion-label> -->
      <ion-label  text-wrap *ngIf="item.address" style="color:gray;margin-left: 5px;margin-right: 5px;margin-bottom: 10px;">{{"address" | translate}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px">{{item.address}}</span></ion-label>
    </ion-col>
   
    <!-- <ion-col col-1 (click)="edit(item)">
        <ion-label style="margin-left: 5px;margin-right: 5px;">
      <ion-icon name="md-create" style="font-size:22px;color:#b07070"></ion-icon>
    </ion-label>
    </ion-col> -->
    <ion-col col-1 (click)="remove(item)">
        <ion-label style="margin-left: 5px;margin-right: 5px;">
      <ion-icon name="ios-trash" style="font-size:23px;color:#b07070"></ion-icon>
    </ion-label>
    </ion-col>

  </ion-row>
  
  <p [hidden]="noorders" style="text-align:center;color:#e01213;    font-size: 20px;
  margin-top: 50px;">{{"noaddress" | translate}}</p>
  <ion-item no-lines></ion-item>

  <!-- vertical="top" horizontal="end" slot="fixed" -->

  

  <ion-fab *ngIf="langDirection == 'ltr'" bottom right (click)="add()">
      <button ion-fab>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab *ngIf="langDirection == 'rtl'" bottom left (click)="add()">
        <button ion-fab>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
</ion-content>
