page-login-or-register {
    .background-image {
        background:white  url('../assets/imgs/ld7.jpg') top;
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
        height: 50%;
        width: 100%;
       
    }

.col {
    padding: 0px;
}
}
