<!-- <ion-header>

  <ion-navbar>
    <ion-title>loginOrRegister</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <!-- class="background-image" -->
<ion-row>
<ion-col style="text-align:center;">
    <img src="assets/imgs/ld8.jpg" style="width: 100%; height: 250px;">
  <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);">
</ion-col>
</ion-row>

<!-- <ion-grid style="height: 80%" >
  <ion-row justify-content-center align-items-center style="height: 80%">
<ion-col style="text-align:center"> -->

<ion-row style="margin-top: 50px;">
  <ion-col style="text-align:center;">
    <button ion-button  style="width:60%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;border: 2px solid #8c8986;" (click)="register()">{{"register" | translate}}</button>
  </ion-col>
</ion-row>
<ion-row style="margin-top: 15px;">
  <ion-col style="text-align:center;">
      <!-- #cbd0d3 -->
    <button ion-button  style="width:60%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;border: 2px solid #8c8986;" (click)="login()">{{"login" | translate}}</button>
  </ion-col>
</ion-row>

<!-- <button (click)="driverHome()"> driver home</button> -->
<!-- <button (click)="map()">map</button> -->


<!-- 
<p style="text-align:center;color:#314453;font-size: 20px;margin-bottom:0px;margin-top: 50px;">{{"fblogin" | translate}}</p>
<p style="text-align:center;margin-top: 10px;" ><ion-icon name="logo-facebook" style="font-size: 40px;color:#3b5999;" (click)="fbLogin()"></ion-icon></p>
<img [src]="userimg"> -->
<!-- </ion-col>
</ion-row>
</ion-grid> -->
</ion-content>
