<!-- <ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content >

  <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
        <!-- <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);"> -->
        <!-- <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon> -->
        <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon>
        <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 65px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">الصفحة الشخصية</p>
        <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 19px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">Profile</p>
        <ion-icon name="md-create"  (click)="editProfile()"  [ngClass]="scaleClassediticon" ></ion-icon>
      </ion-col>
    </ion-row>

    <img src="{{userImageUrl}}"  class="rounded-circle" style="width: 125px;height: 125px;border:2px solid #b07070;position: absolute;z-index: 977;left: calc(50% - 66px);margin-top: -47px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" >


  <ion-row  style="border:2px solid #b07070;border-radius:10px;background-color:#f9f7f8;padding-right: 10px;padding-left: 10px;margin: 20px;">
    <ion-col style="text-align: center;">
      
        <ion-label style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;font-size: 20px;margin-top:80px;padding: 10px;">{{nametra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px;font-size: 18px;">{{item.name}}</span></ion-label>
       
        <ion-label [hidden]="hidedriverdata" style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;font-size: 20px;padding: 10px;">{{cartypetxttra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px;font-size: 18px;" >{{item.carType}}</span></ion-label>
        <ion-label [hidden]="hidedriverdata" style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;font-size: 20px;padding: 10px;">{{carnotxttra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px;font-size: 18px;" >{{item.carno}}</span></ion-label>
     
        <ion-label style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;font-size: 20px;padding: 10px;">{{emailtra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px;font-size: 18px;">{{item.email}}</span></ion-label>
        <ion-label style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;font-size: 20px;padding: 10px;">{{mobiletra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px;font-size: 18px;">{{item.mobile}}</span></ion-label>
       
        <div style="margin-bottom: 50px;"></div>
    </ion-col>
  </ion-row>
</ion-content>
