page-add-edit-address {
    // .scaleClassrtl{
    //     font-size:35px; color:white;
    //     position: absolute;
    //     top: 10px;
    //     // right: 20px;
    //     left: calc(50% - 18px);
    // }
    // .scaleClassltr{
    //     font-size:40px; color:white;
    //     position: absolute;
    //     top: 10px;
    //     // left: 20px;
    //     left: calc(50% - 18px);
    // }
    .col {
        padding: 0px;
    }
    .scaleClassrtl{
        font-size:35px; color:white;
        position: absolute;
        top: 5px;
        right: 20px;
    }
    .scaleClassltr{
        font-size:40px; color:white;
        position: absolute;
        top: 5px;
        left: 20px;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }  
    .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }

    .text-input-md {
    margin:0px
    }

    .text-input-ios {
        margin:0px
        }
        #map_canvas {
            height: 80%;
            width: 100%;
          }
}
