
<!-- <ion-header>

  <ion-navbar>
    <ion-title>addEditAddress</ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content >
    <ion-row>
        <ion-col style="text-align:center;">
          <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
          <!-- <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);"> -->
          <!-- <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon> -->
          <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon>
          <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 43px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">{{addresstxt}}</p>
          <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 43px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">{{addresstxt}}</p>
        </ion-col>
      </ion-row>

      <ion-row style="border:2px solid #e01213;border-radius:20px;margin: auto;margin-top: 10px;margin-bottom: 10px;width:80%;height: 40px;">
          <ion-col col-1>
              <ion-icon name="bookmark" style="font-size:20px;color:#415357;    margin-right: 10px;
              margin-left: 10px;
              margin-top: 8px;"></ion-icon>
              
          </ion-col>
          <ion-col>
            <ion-input  [dir]="langDirection" type="text"  [(ngModel)]="placename" placeholder="{{'place' | translate}}" style="color:#415357;padding-left: 10px;padding-right: 10px;    margin-top: 5px;" ></ion-input>
          </ion-col>
          </ion-row>

      <ion-row style="border:2px solid #e01213;border-radius:20px;margin: auto;margin-top: 10px;margin-bottom: 10px;width:80%;height: 40px;">
          <ion-col col-1>
              <ion-icon name="ios-search" style="font-size:20px;color:#415357;    margin-right: 10px;
              margin-left: 10px;
              margin-top: 8px;"></ion-icon>
            
          </ion-col>
          <ion-col>
            <ion-input  [dir]="langDirection" type="text"  [(ngModel)]="autocomplete.input" placeholder="{{'search' | translate}}" style="color:#415357;padding-left: 10px;padding-right: 10px;    margin-top: 5px;" (input)="updateSearchResults()"></ion-input>
          </ion-col>
          </ion-row>
          <ion-list [hidden]="autocompleteItems.length == 0">
              <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
                {{ item.description }}
              </ion-item>
            </ion-list>
            <!-- [hidden]="hidemap" -->
            <div id="map_canvas" >
             
            </div>
           
          <!-- <button (click)="publishEvent()">fire event</button> -->
          </ion-content>
          <!-- [hidden]="hidemap" -->
            <ion-footer >
              <ion-row style="width:100%">
                  <ion-col style="text-align:center;">
                    <button ion-button style="width:80%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;margin-top: 15px;border: 2px solid #bfbfbf;" (click)="save()">{{btnTxt}}</button>
                  </ion-col>
                </ion-row>
            </ion-footer>
