<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
      <ion-icon name="menu"  menuToggle style="font-size: 30px;color: green;margin-top: 10px;"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content >
 
  <!-- <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <ion-row>
    <ion-col style="text-align:center;">
      <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
      <!-- <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);"> -->
      <!-- <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon> -->
      <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon>
      <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 55px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">الصفحة الرئيسية</p>
      <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 19px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">Home</p>
    </ion-col>
  </ion-row>

  <!-- #e01216 red -->
  <!-- <ion-row>
    <ion-col style="margin-left: -20px;margin-right: -20px;">
        <ion-searchbar *ngIf="langDirection == 'rtl'" (ionInput)="getItems($event)" [placeholder]="searchjobs"  style="color:#4a84ac" class="searchbar-right-aligned " > </ion-searchbar>
        <ion-searchbar *ngIf="langDirection == 'ltr'" (ionInput)="getItems($event)" [placeholder]="searchjobs" style="color:#4a84ac"> </ion-searchbar>
    
    </ion-col>
    
  </ion-row> -->
<ion-row style="border:2px solid #e01213;border-radius:20px;margin: auto;margin-top: 20px;width:80%">
<ion-col col-1>
    <ion-icon name="ios-search" style="font-size:30px;color:#415357;margin: 11px;"></ion-icon>
  
</ion-col>
<ion-col>
  <ion-input  [dir]="langDirection" type="text"  [(ngModel)]="autocomplete.input" [placeholder]="searchtxt" style="color:#415357;padding-left: 10px;padding-right: 10px;" (input)="updateSearchResults()"></ion-input>
</ion-col>
</ion-row>
<ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>


<ion-row >
  <ion-col style="text-align:center;">
    <button ion-button style="width:30%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;margin-top: 15px;border: 2px solid #bfbfbf;" (click)="searchFunc()">{{searchtra}}</button>
  </ion-col>
</ion-row>

<ion-row >
  <ion-col *ngFor="let item of driversArr" col-6 style="padding:10px">
   <div style="border:2px solid #e2b1b1;border-radius:10px;background-color:#f9f7f8;text-align:center;">
    <div style="text-align:center" (click)="details(item)">
      <img [src]="item.img"  class="rounded-circle" style="width: 80px; margin: 10px;height: 80px;border:2px solid #b07070;margin-bottom: 0px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" >  
   </div>
   <!-- *ngIf="item.name" -->
   <!-- <ion-item style="background-color:#f9f7f8;" no-lines> -->
     <ion-label  style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;">{{nametra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px">{{item.name}}</span></ion-label>
   <!-- </ion-item> -->
   <!-- <ion-item style="background-color:#f9f7f8;" no-lines> -->
      <ion-label style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;">{{cartypetxttra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px">{{item.carType}}</span></ion-label>
    <!-- </ion-item> -->
    <!-- <ion-item style="background-color:#f9f7f8;" no-lines> -->
        <ion-label  style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;">{{carnotxttra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px">{{item.car_num}}</span></ion-label>
      <!-- </ion-item> -->
    <button ion-button style="width:60%;color:white;background-color:#e01213;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;margin-top: 10px;margin-bottom: 10px;" (click)="requestOrder(item)">{{requestOrdertra}}</button>
  </div>
  </ion-col>
  
</ion-row>
<p [hidden]="nodata" style="text-align:center;color:#e01213;    font-size: 20px;
margin-top: 50px;">{{"nodrivers" | translate}}</p>
<ion-item no-lines></ion-item>
<button (click)="mapwithsearch()">map with search </button>
</ion-content>
