page-home {
    .col {
        padding: 0px;
    }
    .scaleClassrtl{
        font-size:35px; color:white;
        position: absolute;
        top: 5px;
        right: 20px;
    }
    .scaleClassltr{
        font-size:40px; color:white;
        position: absolute;
        top: 5px;
        left: 20px;
    }

    .searchbar-input{
        padding: 6px 20px !important;
      }
      .rtl .searchbar-input {
        direction: rtl !important;
      }
      .searchbar-md .searchbar-input{
        color: grey;
        ::placeholder{
          color: grey;
        }
      }
      .searchbar-ios .searchbar-input{
        color: grey;
        ::placeholder{
          color: grey;
        }
      }
      .searchbar-search-icon {
        background-image: url("") !important;
        }
        .searchbar-input{
            border: 1px solid #e01216 !important;
                width:90% !important;
                margin-left: 10% !important;
                margin-right: 10% !important;
                border-radius: 10px  !important;
                line-height: 1rem !important;
        }
        .searchbar-input{
            
            margin: auto auto;
                width:90%;
                border-radius: 10px ;
                border:none;
                box-shadow: none;
        }
        .searchbar-clear-icon{
          background-image: url("") !important;
        }
        .label-md {
            margin: 0px;
        }
        

}
