<!-- <ion-header>

  <ion-navbar>
    <ion-title>completeOrder</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content >

  <ion-row>
    <ion-col style="text-align:center;">
      <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
      <!-- <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon> -->
      <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon>
      <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 55px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">أطلب الآن</p>
      <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 46px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">Order Now</p>
    </ion-col>
  </ion-row>

  <form [formGroup]="registerForm" >
    <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 34px;height: 45px;">

  <ion-input [placeholder]="placeholder.tripname"  [dir]="langDirection" type="text"  formControlName="tripname" [(ngModel)]="tripname"  style="color:#415357"></ion-input>
</ion-item>
<ion-item text-wrap  *ngIf="!registerForm.controls.tripname.valid&&submitAttempt"  no-lines>
  <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.tripnameErr}} </p>
</ion-item>

<ion-item  no-lines style=" border:1px solid lightgray;
border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top:10px;height: 45px;">

<ion-input [placeholder]="placeholder.price"  [dir]="langDirection" type="tel"  formControlName="price" [(ngModel)]="price"  style="color:#415357"></ion-input>
</ion-item>
<ion-item text-wrap  *ngIf="!registerForm.controls.price.valid&&submitAttempt"  no-lines>
<p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.priceErr}} </p>
</ion-item>

<ion-item text-wrap  *ngIf="hidepricerr"  no-lines>
  <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{hidepricerr}} </p>
  </ion-item>
  
<ion-item  style=" border:1px solid lightgray;
border-radius: 50px 50px;    width: 90%;margin:auto;margin-top:10px;height: 45px; " no-lines>      
  <ion-label style="color:#415357;font-size: 20px;">{{'carSize'|  translate}}</ion-label>
<ion-select   placeholder="{{'carSize'|  translate}}" [(ngModel)]="cartype"  formControlName="cartype"   okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" style="color:#415357" >  
    <ion-option  style="font-size: 15px;" value="1" > {{'bigcar'|  translate}}</ion-option>
    <ion-option  style="font-size: 15px;" value="0" > {{'smallcar'|  translate}}</ion-option>
    </ion-select>    
</ion-item>
<ion-item text-wrap  *ngIf="!registerForm.controls.cartype.valid&&submitAttempt"  no-lines>
  <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.cartypeErr}} </p>
</ion-item>


<!-- <ion-item  no-lines style=" border:1px solid lightgray;
    border-radius: 50px 50px;    width: 90%;margin:auto;    margin-top: 88px;height: 45px;"> -->
    <div class="form-group" style="text-align:center;margin-top:10px">
      <!-- <ion-input [placeholder]="placeholder.tripname"  [dir]="langDirection" type="text"  formControlName="tripname" [(ngModel)]="tripname"  style="color:#415357"></ion-input> -->
      <textarea class="form-control" formControlName="orderdetails" [(ngModel)]="orderdetails" rows="3" id="comment" style="border:1px solid lightgray;
      border-radius: 10px;    width: 90%;margin:auto;padding:10px;    padding-right: 15px;
      padding-left: 15px;" [placeholder]="placeholder.orderdetails"></textarea>
    </div>
    <!-- </ion-item> -->
    <ion-item text-wrap  *ngIf="!registerForm.controls.orderdetails.valid&&submitAttempt"  no-lines>
      <p style="color:#e61616;margin-right: 15px;margin-left: 14px;"> {{errors.orderdetailsErr}} </p>
    </ion-item>





<ion-item no-lines></ion-item>
<ion-row >
  <ion-col style="text-align:center;">
    <button ion-button type="submit"  style="width:60%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;border: 2px solid #8c8986;" (click)="ordernow()">{{"ordernow" | translate}}</button>
  </ion-col>
</ion-row>


  </form>
  <ion-item no-lines></ion-item>
</ion-content>
