page-complete-order {
    // .scaleClassrtl{
    //     font-size:35px; color:white;
    //     position: absolute;
    //     top: 10px;
    //     // right: 20px;
    //     left: calc(50% - 18px);
    // }
    // .scaleClassltr{
    //     font-size:40px; color:white;
    //     position: absolute;
    //     top: 10px;
    //     // left: 20px;
    //     left: calc(50% - 18px);
    // }
    .col {
        padding: 0px;
    }
    .scaleClassrtl{
        font-size:35px; color:white;
        position: absolute;
        top: 5px;
        right: 20px;
        transform: scale(-1,1);
    }
    .scaleClassltr{
        font-size:40px; color:white;
        position: absolute;
        top: 5px;
        left: 20px;
    }

}
