page-activation-code {
    .col {
        padding: 0px;
    }
    .inputShape{
        border:1px solid lightgray;
        border-radius: 50px 50px;
    
        width:calc(100%-100px);
        margin: 10px;
        padding-right: 10px;
        padding-left: 10px;
        height: 50px;
        // background-color: #f6f6f7;
    }
    .ng-dirty{
        border-color: #38b5ed;
    }
    .item-md {
         padding-left: 0px; 
    }
    .item-ios {
        padding-left: 0px; 
   }
}
