<!-- <ion-header>

  <ion-navbar>
    <ion-title>activationCode</ion-title>
  </ion-navbar>

</ion-header>
 -->
 <ion-content >

  <ion-row>
    <ion-col style="text-align:center;">
      <img src="assets/imgs/ld8.jpg" style="width: 100%; height: 250px;">
      <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);">
    </ion-col>
  </ion-row>

  <p style="text-align:center;color:#314453;font-size: 20px;margin-bottom:5px;margin-top: 20px;">{{"enterCode" | translate}}</p>
  <p style="text-align:center;color:#314453;font-size: 17px;margin-bottom:0px;margin-top: 0px;">{{"sentto" | translate}} {{mobile}}</p>
  <p style="color:#314453;text-align:center;font-size: 17px;margin-bottom:0px;margin-top: 0px;">{{"resendMsg" | translate}} {{time}} {{"sec" | translate}}</p>  
  <form [formGroup]="registerForm" >

      <ion-row style="margin-top: 20px;">
        <ion-col col-7>
            <ion-item no-lines >  
              <ion-input  [placeholder]="codetxt" [dir]="langDirection" type="tel" formControlName="code" [(ngModel)]="code"  class="inputShape"></ion-input>
            </ion-item>

           
        </ion-col>
        <ion-col col-5>
          <ion-item no-lines >
            <button ion-button  style="width:90%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;border: 2px solid #bfbfbf;" (click)="resendcode()">{{"resend" | translate}}</button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item text-wrap *ngIf="!registerForm.controls.code.valid&&submitAttempt"  no-lines>
        <p style="color:#e61616;margin-left: 16px;margin-right: 5px;"> {{codeErr}} </p>
      </ion-item>
    
    <ion-row style="    margin-top: 20px;">
      <ion-col style="text-align:center;">
        <button ion-button type="submit"  style="width:60%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;border: 2px solid #bfbfbf;" (click)="activatecode22()">{{"register" | translate}}</button>
      </ion-col>
    </ion-row>

  </form>
  
  <!-- 
  <p style="text-align:center;color:#314453;font-size: 20px;margin-bottom:0px;margin-top: 20px;">{{"fblogin" | translate}}</p>
  <p style="text-align:center;margin-top: 10px;" ><ion-icon name="logo-facebook" style="font-size: 40px;color:#3b5999;" (click)="fbLogin()"></ion-icon></p>
 -->
      
</ion-content>
