<!-- <ion-header>

  <ion-navbar>
    <ion-title>setings</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
        <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon>
        <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 16px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">الضبط</p>
        <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 31px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">Settings</p>
      </ion-col>
    </ion-row>


<ion-item style="color: #b2b6b9;" no-lines style="border-bottom:1px solid lightgrey" >
    <ion-icon name='globe' item-start style="color: #415357;"></ion-icon>
    {{Languagetra}}
    <ion-note item-end (click)="changeLanguage()" style="color: #415357;">
    {{language}}
    </ion-note>
  </ion-item> 

  
<!-- <button (click)="changeLanguage()">click</button> -->
</ion-content>
