page-map {
    #map_canvas {
        height: 100%;
        width: 100%;
      }
      .scaleClassrtl{
        font-size:35px; color:white;
        position: absolute;
        top: 10px;
        right: 20px;
        // left: calc(50% - 18px);
        // left: calc(50% - -35px);
    }
    .scaleClassltr{
        font-size:40px; color:white;
        position: absolute;
        top: 10px;
        left: 20px;
        // left: calc(50% - 18px);
        // left: calc(50% - -35px);
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }  
    .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }
    #map{
        height:100%;
        width: 100%;
    }
}
