<!-- <ion-header>

  <ion-navbar>
    <ion-title>map</ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content >
  <!-- <div id="map_canvas" > -->
      <div   #map id="map" ></div>
      <ion-icon (click)="dismiss()" name="close-circle" style="font-size: 40px;color: gray;" [ngClass]="scaleClass"></ion-icon>
    <!-- <button ion-button (click)="onButtonClick($event)">Demo</button> -->
    
    <ion-row style="text-align:center;background-color:#e01213;border-radius:20px;    position: absolute;
    bottom: 27px;   
    right: 1%;
    width: 98%;">
      <ion-col col-4 (click)="gotodeatils()"><img src="assets/imgs/default-avatar.png" class="rounded-circle" style="width: 50px; height: 50px;border:2px solid white;margin-top: 13px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" >
      <p style="color:white;    margin: 0px;font-weight:bold">{{drivername}}</p></ion-col>
      <ion-col col-4>
        <!-- <div style="border:6px solid gray;border-radius:50%;width:100px;height:100px"> -->
            <p style="color:white;font-weight:bold;    width: 100px;
            height: 100px; display: inline-block;
            border: 8px solid gray;    padding-top: 12px;
            padding-right: 5px;
            border-radius: 50%;
            margin: 0px;">{{"arrive" | translate}} <br> {{driverdistance}}</p>
        <!-- </div> -->
        
      </ion-col>
      <ion-col col-4>
          <ion-icon name="pin" style="color:white;font-size:25px;margin-top: 18px;"></ion-icon>
      <!-- <p style="color:white;    margin: 0px;font-weight:bold">{{driverlocation}}</p> -->
      <ion-label style="color:white;    margin: 0px;font-weight:bold">{{driverlocation}}</ion-label>
        </ion-col>
    </ion-row>
  
    <!-- <ion-fab middle left (click)="FinishOrder()" style="width: 80px;
    height: 80px;">
      <button ion-fab>
        {{"FinishOrder" | translate}}
      </button>
    </ion-fab> -->

<ion-fab *ngIf="langDirection == 'ltr'" middle right (click)="FinishOrder()" >
  <button ion-fab style="width: 74px;height: 74px;">
    {{"FinishOrder" | translate}}
  </button>
</ion-fab>
<ion-fab *ngIf="langDirection == 'rtl'" middle left (click)="FinishOrder()" >
  <button ion-fab style="width: 74px;height: 74px;">
    {{"FinishOrder" | translate}}
  </button>
</ion-fab>


  <!-- </div> -->
</ion-content>
<!-- <ion-footer >
  <ion-row style="width:100%">
    <ion-col style="text-align:center;">
      <button ion-button style="width:80%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;margin-top: 15px;border: 2px solid #bfbfbf;" (click)="FinishOrder()">{{"FinishOrder" | translate}}</button>
    </ion-col>
  </ion-row>
</ion-footer> -->