<ion-content >

  <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
        <!-- <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon> -->
        <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon>
        <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 40px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">التقييم</p>
        <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 24px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">Rate</p>
      </ion-col>
    </ion-row>

    <img src="{{userImageUrl}}"  class="rounded-circle" style="width: 125px;height: 125px;border:2px solid #b07070;position: absolute;z-index: 977;left: calc(50% - 66px);margin-top: -47px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" >

    <div style="margin-top:90px;text-align:center">
    <rating [(ngModel)]="rate" 
    readOnly="false" 
    max="5" 
    emptyStarIconName="star-outline" 
    halfStarIconName="star-half" 
    starIconName="star" 
    nullable="false"
    
     > </rating>

     <div style="margin-top:10px">
      <textarea  [(ngModel)]="notes" placeholder='{{"notes"|translate}}' rows="5" id="comment" style="border:1px solid lightgrey;width: 90%;padding:10px;border-radius: 5px;margin:auto auto;"></textarea>
    </div>
    <div style="text-align: center;margin-top:10px;">
    <button ion-button    style="font-size:16px;border-radius: 50px 50px;background-color: #e01213;color:white;border:2px solid #e01213;width:55%;padding:15px;text-align:center" (click)="rateFunc()">{{"rate" | translate}}</button>
  </div>
  </div>

</ion-content>

