page-rate {
    .label-md {
        margin: 0px;
    }
    .label-ios {
        margin: 0px;
    }
    .col {
        padding: 0px;
    }
    .scaleClassrtl{
        font-size:35px; color:white;
        position: absolute;
        top: 5px;
        right: 20px;
        transform: scale(-1,1);
    }
    .scaleClassltr{
        font-size:40px; color:white;
        position: absolute;
        top: 5px;
        left: 20px;
    }
    ul {
        padding: 0px;
        margin: 0px;
        &.rating li {
          padding: 0px 0px !important;
          background: none;
          color: #e01213;
      
          ion-icon {
            font-size: 25px;
          }
        }
      }


}
