// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.button-md {
    text-transform: initial;
}
.button-ios {
    text-transform: initial;
}


.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: white;
    -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
    box-shadow: inset 0 -1px 0 0 white;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: white;
    -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
    box-shadow: inset 0 -1px 0 0 white;
}

.item-md.item-input.item-input-has-focus .item-inner{
    border-bottom-color: white;
    -webkit-box-shadow: inset 0 -1px 0 0 blue;
    box-shadow: inset 0 -1px 0 0 white;
}

.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: white;
    -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
    box-shadow: inset 0 -1px 0 0 white;
}
.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: white;
    -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
    box-shadow: inset 0 -1px 0 0 white;
}

.item-ios.item-input.item-input-has-focus .item-inner{
    border-bottom-color: white;
    -webkit-box-shadow: inset 0 -1px 0 0 blue;
    box-shadow: inset 0 -1px 0 0 white;
}


@font-face {
    font-family: "Cairo Black";
    src:url("../assets/cairofont/Cairo-Black.ttf");
}
@font-face {
    font-family: "Cairo-Bold";
    src:url("../assets/cairofont/cairo-bold.ttf");
}
@font-face {
    font-family: "Cairo-Regular";
    src:url("../assets/cairofont/cairo.ttf");
}
@font-face {
    font-family: "Cairo";
    src:url("../assets/cairofont/Cairo-Bold_0.ttf");
}
@font-face {
    font-family: "Cairo-ExtraLight";
    src:url("../assets/cairofont/cairo-extra-light.ttf");
}
@font-face {
    font-family: "Cairo Light";
    src:url("../assets/cairofont/cairo-light.ttf");
}
@font-face {
    font-family: "Cairo SemiBold";
    src:url("../assets/cairofont/Cairo-SemiBold.ttf");
}
ion-app{
    font-family: "Cairo-Regular" !important;

}

.rtl{
    text-align: right !important;
    direction: rtl;
}
.ltr{
    text-align: left !important;
    direction: ltr;
}

.alert-md .alert-radio-icon {
    left: 10px !important;
    right: 12px;  
    top: 0 !important;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
  }
  .alert-ios .alert-radio-icon {
    left: 0px !important;
    right: 0px;  
    top: 0 !important;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: unset !important;
    border-color: #787878;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }

  .rtldir{
    
    .alert-input {
        direction: rtl;
    }
    
        // .alert-wrapper {
        //     background-color: #c80000 !important;
        // }
    
        .alert-title {
            color: #b07070 !important;
            text-align: center !important;
        }
    
        // .alert-message {
        //     color: white !important;
        //     text-align: center !important;
        // }
    
        // .alert-sub-title {
        //     color: white !important;
        //     text-align: center !important;
        // }
    
        button {
            color: #b07070 !important;
            text-align: center !important;
        }
        .alert-md .alert-input:focus {
            border-bottom: 2px solid #30414c;
        }
        .alert-ios .alert-input:focus {
            border-bottom: 2px solid #30414c;
        }
    
}
.ltrdir{
    
    
    .alert-input {
        direction: ltr;
    }
    
        // .alert-wrapper {
        //     background-color: #c80000 !important;
        // }
    
        .alert-title {
            color: #b07070 !important;
            text-align: center !important;
        }
    
        // .alert-message {
        //     color: white !important;
        //     text-align: center !important;
        // }
    
        // .alert-sub-title {
        //     color: white !important;
        //     text-align: center !important;
        // }
    
        button {
            color: #b07070 !important;
            text-align: center !important;
        }
        .alert-md .alert-input:focus {
            border-bottom: 2px solid #30414c;
        }
        .alert-ios .alert-input:focus {
            border-bottom: 2px solid #30414c;
        }
    
}
.halfhalf{
    // width: 0; 
    // height: 0; 
    border-bottom: 736px solid orange;
    border-left: 304px solid green;
}





