<!-- <ion-menu [content]="mycontent" > 
    <ion-content style="background-color:#1b2336">
            <div style="width:100%; height:100px;margin-top:50px">
                    <div style="display: inline-block;text-align:center;width:40%; ">
                        <img src="assets/imgs/whitelogo.png" style="    padding-bottom: 9px;width:60px;height:70px;opacity: 0.2;">  
                    </div>
                    <div style="display: inline-block;">   
                    <p style="font-weight:bold;color:white;font-family:'sans-serif'">{{user.name}}</p>
                        <p style="color:white">{{user.job}}
                            <br>
                        {{user.email}}
                    <br>
                    {{user.phone}}
                    </p>
                    </div>
                </div>

       
       
        <ion-list id="side_menu">
                     <button menuClose ion-item (click)="logout()" style='font-weight:bold;color: #a93c42; background-color: transparent;    height: 50px !important;'><table><tr><td style="padding:10px"><ion-icon name="md-log-out" style='   font-size: 28px;'></ion-icon></td><td style="padding:10px"><span style="padding-right: 10px;padding-left: 10px;font-weight:bold;">LOGOUT</span></td></tr></table></button>             
            
        </ion-list>
    
                      
    </ion-content> 
</ion-menu>




<ion-nav #mycontent [root]="rootPage"></ion-nav> -->

<ion-menu  *ngIf="menu2==true && this.platform.dir() =='rtl'" side="right" [enabled]="userLoged" [content]="mycontent" > 
    <ion-content style="background-color:#324853">
        <div style="text-align:center;margin-bottom: 20px;">
            <!-- <ion-icon name="menu"  menuToggle style="font-size: 30px;color: white;margin-top: 10px;display:block"></ion-icon> -->
            <img src="{{userImageUrl}}"  class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;border:2px solid #b07070" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" /><br>
            <h2 style="margin: 0px;color:white">{{userName}}</h2>
            
        </div>
        <ion-list id="side_menu">
          <button menuClose ion-item no-lines (click)="openHome()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;" ><img src='assets/icon/home.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 12px;right: 45px;"><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الصفحة الرئيسية</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="openProfile()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;" ><img src='assets/icon/profile.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 12px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الصفحة الشخصية</span></td></tr></table></button>   
          <!-- <button menuClose ion-item no-lines (click)="openNotifications()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;right: 20px;" ><ion-icon name="ios-notifications" style="color:white;font-size:30px"></ion-icon></td><td style="position: absolute; top: 10px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الإشعارات</span></td></tr></table></button>    -->
          <button menuClose ion-item no-lines (click)="openOrders()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;right: 20px;" ><img src='assets/icon/order.png' style="width: 27px;height: 27px;"/></td><td style="position: absolute; top: 10px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">طلباتك</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="openaddresshistory()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;right: 20px;" ><ion-icon name="globe" style="color:white;font-size:30px"></ion-icon></td><td style="position: absolute; top: 10px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">سجل العناوين</span></td></tr></table></button>   
          <!-- <button menuClose ion-item no-lines (click)="opensearch()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;"><img src='assets/icon/search.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 9px;right: 45px;"><span style="padding-right: 10px;padding-left: 10px;font-size:20px">بحث</span></td></tr></table></button>    -->
          <button menuClose ion-item no-lines (click)="opensettings()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;" ><img src='assets/icon/settings.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 10px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الضبط</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="logout()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;" ><img src='assets/icon/logout.png' style="width: 25px;height: 25px;transform: scale(-1,1);"/></td><td style="position: absolute; top: 10px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الخروج</span></td></tr></table></button>   
  
        </ion-list>
                      
                      
    </ion-content> 
</ion-menu>

<ion-menu  *ngIf="menu2==true && this.platform.dir() =='ltr'" side="left" [enabled]="userLoged" [content]="mycontent" > 
    <ion-content style="background-color:#324853">
        <div style="text-align:center;margin-bottom: 20px;">
            <img src="{{userImageUrl}}"  class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;border:2px solid #b07070" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" /><br>
            <h2 style="margin: 0px;color:white">{{userName}}</h2>
            
        </div>
        <ion-list id="side_menu">
          <button menuClose ion-item no-lines (click)="openHome()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;" ><img src='assets/icon/home.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 13px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Home</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="openProfile()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;" ><img src='assets/icon/profile.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 12px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Profile</span></td></tr></table></button> 
          <!-- <button menuClose ion-item no-lines (click)="openNotifications()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;left: 20px;" ><ion-icon name="ios-notifications" style="color:white;font-size:30px"></ion-icon></td><td style="position: absolute; top: 10px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Notifications</span></td></tr></table></button>   -->
          <button menuClose ion-item no-lines (click)="openOrders()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;left: 20px;" ><img src='assets/icon/order.png' style="width: 27px;height: 27px;"/></td><td style="position: absolute; top: 10px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Your Orders</span></td></tr></table></button>
          <button menuClose ion-item no-lines (click)="openaddresshistory()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;left: 20px;" ><ion-icon name="globe" style="color:white;font-size:30px"></ion-icon> </td><td style="position: absolute; top: 10px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Address History</span></td></tr></table></button>   
          <!-- <button menuClose ion-item no-lines (click)="opensearch()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;"><img src='assets/icon/search.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 9px;left: 45px;"><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Search</span></td></tr></table></button>    -->
          <button menuClose ion-item no-lines (click)="opensettings()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;" ><img src='assets/icon/settings.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 10px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Settings</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="logout()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;" ><img src='assets/icon/logout.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 10px;left: 45px;"><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Log out</span></td></tr></table></button>   
  
        </ion-list>
                      
                      
    </ion-content> 
</ion-menu>

<!-- driver -->
<ion-menu  *ngIf="menu2==false && this.platform.dir() =='rtl'" side="right" [enabled]="userLoged" [content]="mycontent" > 
    <ion-content style="background-color:#324853">
        <div style="text-align:center;margin-bottom: 20px;">
            <!-- <ion-icon name="menu"  menuToggle style="font-size: 30px;color: white;margin-top: 10px;display:block"></ion-icon> -->
            <img src="{{userImageUrl}}"  class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;border:2px solid #b07070" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" /><br>
            <h2 style="margin: 0px;color:white">{{userName}}</h2>
            
        </div>
        <ion-list id="side_menu">
          <button menuClose ion-item no-lines (click)="opendriverHome()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;" ><img src='assets/icon/home.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 12px;right: 45px;"><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الصفحة الرئيسية</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="opendriverProfile()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;" ><img src='assets/icon/profile.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 12px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الصفحة الشخصية</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="opendriveNotifications()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;right: 20px;" ><ion-icon name="ios-notifications" style="color:white;font-size:30px"></ion-icon></td><td style="position: absolute; top: 10px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الإشعارات</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="opendriverOrders()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;right: 20px;" ><img src='assets/icon/order.png' style="width: 27px;height: 27px;"/></td><td style="position: absolute; top: 10px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">طلباتك</span></td></tr></table></button>   

          <!-- <button menuClose ion-item no-lines (click)="opensearch()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;"><img src='assets/icon/search.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 9px;right: 45px;"><span style="padding-right: 10px;padding-left: 10px;font-size:20px">بحث</span></td></tr></table></button>    -->
          <button menuClose ion-item no-lines (click)="opendriversetting()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;" ><img src='assets/icon/settings.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 10px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الضبط</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="logout()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;right: 20px;" ><img src='assets/icon/logout.png' style="width: 25px;height: 25px;transform: scale(-1,1);"/></td><td style="position: absolute; top: 10px;right: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">الخروج</span></td></tr></table></button>   
  
        </ion-list>
                      
                      
    </ion-content> 
</ion-menu>

<ion-menu  *ngIf="menu2==false && this.platform.dir() =='ltr'" side="left" [enabled]="userLoged" [content]="mycontent" > 
    <ion-content style="background-color:#324853">
        <div style="text-align:center;margin-bottom: 20px;">
            <img src="{{userImageUrl}}"  class="rounded-circle" style="width: 125px; margin: 10px;height: 125px;border:2px solid #b07070" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" /><br>
            <h2 style="margin: 0px;color:white">{{userName}}</h2>
            
        </div>
        <ion-list id="side_menu">
          <button menuClose ion-item no-lines (click)="opendriverHome()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;" ><img src='assets/icon/home.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 13px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Home</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="opendriverProfile()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;" ><img src='assets/icon/profile.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 12px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Profile</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="opendriveNotifications()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;left: 20px;" ><ion-icon name="ios-notifications" style="color:white;font-size:30px"></ion-icon></td><td style="position: absolute; top: 10px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Notifications</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="opendriverOrders()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 15px;left: 20px;" ><img src='assets/icon/order.png' style="width: 27px;height: 27px;"/></td><td style="position: absolute; top: 10px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Your Orders</span></td></tr></table></button>   

          <!-- <button menuClose ion-item no-lines (click)="opensearch()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;"><img src='assets/icon/search.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 9px;left: 45px;"><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Search</span></td></tr></table></button>    -->
          <button menuClose ion-item no-lines (click)="opendriversetting()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;" ><img src='assets/icon/settings.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 10px;left: 45px;" ><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Settings</span></td></tr></table></button>   
          <button menuClose ion-item no-lines (click)="logout()" style='border-top:1px solid #293d48;color: white; background-color: transparent;    height: 30px !important;margin-top:20px;margin-bottom:20px'><table><tr><td style="position: absolute; top: 17px;left: 20px;" ><img src='assets/icon/logout.png' style="width: 25px;height: 25px;"/></td><td style="position: absolute; top: 10px;left: 45px;"><span style="padding-right: 10px;padding-left: 10px;font-size:20px">Log out</span></td></tr></table></button>   
  
        </ion-list>
                      
                      
    </ion-content> 
</ion-menu>


<ion-nav #mycontent [root]="rootPage"></ion-nav>
