page-driver-home {
    .label-md {
        margin: 0px;
    }
    .label-ios {
        margin: 0px;
    }
    .col {
        padding: 0px;
    }
    .scaleClassrtl{
        font-size:35px; color:white;
        position: absolute;
        top: 5px;
        right: 20px;
        transform: scale(-1,1);
    }
    .scaleClassltr{
        font-size:40px; color:white;
        position: absolute;
        top: 5px;
        left: 20px;
    }

    .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        
        border-bottom: 5px solid black;
      }
      
      .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        
        border-top: 20px solid #f00;
      }
      
      .arrow-right {
        width: 0; 
        height: 0; 
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        
        border-left: 60px solid green;
      }
      
      .arrow-left {
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        
        border-right:10px solid blue; 
      }
      .halfhalf{
        width: 0; 
        height: 0; 
        border-bottom: 60px solid orange;
        border-left: 60px solid green;
        }
    

        // #container {
        //     height: 100px;
        //     width: 100px;
        //     overflow: hidden;
        //     background-image: url(http://www.webdesign.org/img_articles/14881/site-background-pattern-07.jpg);
        //   }
          
        //   #triangle-topleft {
        //     width: 0;
        //     height: 0;
        //     border-top: 100px solid gray;
        //     border-right: 100px solid transparent;
        //   }
    
    
    
    
    

}
