<!-- <ion-header>

  <ion-navbar>
    <ion-title>driverHome</ion-title>
  </ion-navbar>

</ion-header>
 -->
 <!-- padding -->
<ion-content >
  <ion-row>
    <ion-col style="text-align:center;">
      <img src="assets/imgs/ld12.jpg" style="width: 100%;height: 200px;;">
      <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon>
      <!-- <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon> -->
      <!-- <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 40px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">التفاصيل</p>
      <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 35px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">Details</p> -->
      <!-- <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 55px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">الصفحة الرئيسية</p> -->
      <!-- <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 19px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">Home</p> -->

    </ion-col>
  </ion-row>

  <img src="{{userImageUrl}}"  class="rounded-circle" style="width: 125px;height: 125px;border:2px solid white;position: absolute;z-index: 977;left: calc(50% - 66px);margin-top: -162px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" >

<div (click)="opendriverProfile()" *ngIf="langDirection == 'rtl'"  style="background-color:#e01213;border:3px solid white;border-radius:50%;width:60px;height:60px;display: inline-block;position: absolute;z-index: 977;margin-top: -45px;left: calc(50% + 60px);" ><img src="assets/icon/driver_settings.png" style="    width: 35px;    margin-top: 8px;    margin-right: 9px;"></div>
<div (click)="opendriverProfile()" *ngIf="langDirection == 'rtl'"  style="display: inline-block;position: absolute;z-index: 977;margin-top: 10px;left: calc(50% + 42px);" >{{"driverprofile" | translate}}</div>
<div *ngIf="langDirection == 'rtl'"  style="background-color:#e01213;border:3px solid white;border-radius:50%;width:60px;height:60px;display: inline-block;position: absolute;z-index: 977;margin-top: -45px;left: calc(50% - 126px);" ><img src="assets/icon/credit-cards.png" style="    width: 35px;    margin-top: 6px;    margin-right: 9px;"></div>
<div *ngIf="langDirection == 'rtl'"  style="display: inline-block;position: absolute;z-index: 977;margin-top: 10px;left: calc(50% - 128px);" >{{"Payments" | translate}}</div>

<div (click)="opendriverProfile()" *ngIf="langDirection == 'ltr'" style="background-color:#e01213;border:3px solid white;border-radius:50%;width:60px;height:60px;display: inline-block;position: absolute;z-index: 977;margin-top: -45px;left: calc(50% + 60px);" ><img src="assets/icon/driver_settings.png" style="    width: 35px;    margin-top: 8px;    margin-left: 9px;"></div>
<div (click)="opendriverProfile()" *ngIf="langDirection == 'ltr'" style="display: inline-block;position: absolute;z-index: 977;margin-top: 10px;left: calc(50% + 70px);" >{{"driverprofile" | translate}}</div>
<div *ngIf="langDirection == 'ltr'" style="background-color:#e01213;border:3px solid white;border-radius:50%;width:60px;height:60px;display: inline-block;position: absolute;z-index: 977;margin-top: -45px;left: calc(50% - 126px);" ><img src="assets/icon/credit-cards.png" style="    width: 35px;    margin-top: 6px;    margin-left: 9px;"></div>
<div *ngIf="langDirection == 'ltr'" style="display: inline-block;position: absolute;z-index: 977;margin-top: 10px;left: calc(50% - 128px);" >{{"Payments" | translate}}</div>


<div  style="border-radius:10px;border:2px solid #e2b1b1;margin:10px    ;margin-top: 50px;">
  <ion-row style="border-radius: 8px 8px 0px 0px;color:white;background-color:#e01213" >
    <!-- <ion-col><h4 style="text-align:center;font-weight: bold;">{{"notifications" | translate}}</h4></ion-col> -->
    <ion-col><h4 style="text-align:center;font-weight: bold;">{{"orders" | translate}}</h4></ion-col>
  </ion-row>
 
<div style="padding:10px">
  <p [hidden]="noorders" style="text-align:center;color:gray;    font-size: 20px;
margin-top: 10px;">{{"noorders" | translate}}</p>
  <ion-item text-wrap *ngFor="let item of ordersArr" (click)="notificationClickd(item)" style="background-color:#e8eae9;border-radius:5px;box-shadow: 0 6px 2px -2px #d4d4d3;margin-bottom:15px">
    <!-- start -->
      <ion-avatar item-start [style.background-color]="item.color" style="width:50px;height:50px;border-radius: 50%;">
          <img *ngIf="langDirection == 'rtl'" [src]="item.notificationimage" style="    width: 30px;
          height: 30px;border-radius: 0px;
          margin-right: 9px;
          margin-top: 10px;">

          <img *ngIf="langDirection == 'ltr'" [src]="item.notificationimage" style="    width: 30px;
          height: 30px;border-radius: 0px;
          margin-left: 9px;
          margin-top: 10px;">

        </ion-avatar>

    <h4>{{item.txt}}</h4> <!-- text-wrap item.data.txt -->
    <!-- <p>{{item.desc}}</p> -->
  </ion-item>
</div>
  

</div>



<!-- 
<div  class="arrow-up"></div>
<div  class="arrow-down"></div>
<div  class="arrow-right"></div>
<div  class="arrow-left"></div>

<div class="halfhalf"></div> -->

<!-- <div id="container">
  <div id="triangle-topleft"></div>
</div> -->


<!-- <button (click)="pusherLocation()"> pusher trigger </button> -->
<!-- <button (click)="openmap()"> open map </button> -->

</ion-content>
<ion-footer>

  <ion-item no-lines >
      <ion-label [style.color]="statusColor">{{"status" | translate}}</ion-label>
      <!-- <div style="text-align:center"> -->
          <!-- (onchange)="changeStatus()" -->
        <ion-select [style.color]="statusColor" [(ngModel)]="statusVal" okText="{{'done' | translate}}" cancelText="{{'cancel' | translate}}" (ionChange)="changeStatus($event)">
          <ion-option [style.color]="statusColor" value="1">{{"online" | translate}}</ion-option>
          <ion-option [style.color]="statusColor" value="0">{{"offline" | translate}}</ion-option>
        </ion-select>
      <!-- </div> -->
      
    </ion-item>


  <!-- <ion-title style="text-align: center;">
  
     <ion-select placeholder="Select One" >
        <ion-option value="f">Female</ion-option>
        <ion-option value="m">Male</ion-option>
      </ion-select>
  </ion-title> -->
  <!-- <ion-toolbar > -->
    <!-- <ion-title>Footer</ion-title> -->
    <!-- <ion-item no-lines style="text-align:center"> -->
      <!-- <ion-label>Gender</ion-label> -->
      <!-- <div style="text-align:center">
        <ion-select placeholder="Select One" >
          <ion-option value="f">Female</ion-option>
          <ion-option value="m">Male</ion-option>
        </ion-select>
      </div> -->
      
    <!-- </ion-item> -->
  <!-- </ion-toolbar> -->
</ion-footer>