<!-- <ion-header>

  <ion-navbar>
    <ion-title>orders</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content >

  <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
        <!-- <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);"> -->
        <!-- <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon> -->
        <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon>
        <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 18px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">الإشعارات</p>
        <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 43px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">Notifications</p>
      </ion-col>
    </ion-row>
   
    <div style="padding:10px">

      
    <ion-item text-wrap *ngFor="let item of notificationsArr" (click)="notificationClickd(item)" style="background-color:#e8eae9;border-radius:5px;box-shadow: 0 6px 2px -2px #d4d4d3;margin-bottom:15px">
      <!-- start -->
      
      <ion-avatar item-start [style.background-color]="item.color" style="width:50px;height:50px;border-radius: 50%;">
            <img *ngIf="langDirection == 'rtl'" [src]="item.notificationimage" style="    width: 30px;
            height: 30px;border-radius: 0px;
            margin-right: 9px;
            margin-top: 10px;">
  
            <img *ngIf="langDirection == 'ltr'" [src]="item.notificationimage" style="    width: 30px;
            height: 30px;border-radius: 0px;
            margin-left: 9px;
            margin-top: 10px;">
  
          </ion-avatar>
  
      <h4 *ngIf="langDirection == 'rtl'" >{{item.ar_title}}</h4> 
      <h4 *ngIf="langDirection == 'ltr'" >{{item.en_title}}</h4> 

      <!-- text-wrap item.data.txt -->
      <p>{{item.description}}</p>
    </ion-item>

<p [hidden]="noNotifications" style="text-align:center;color:#e01213;    font-size: 20px;
margin-top: 50px;">{{"noNotifications" | translate}}</p>
<ion-item no-lines></ion-item>
</div>
</ion-content>
