page-user-home {
    #map_canvas {
        height: 100%;
        width: 100%;
        // height: 100%;
      }
    //   .scaleClassrtl{
    //     font-size:35px; color:white;
    //     position: absolute;
    //     top: 10px;
    //     // right: 20px;
    //     left: calc(50% - 18px);
    // }
    // .scaleClassltr{
    //     font-size:40px; color:white;
    //     position: absolute;
    //     top: 10px;
    //     // left: 20px;
    //     left: calc(50% - 18px);
    // }
    .col {
        padding: 0px;
    }
    .scaleClassrtl{
        font-size:30px; color:white;
        position: absolute;
        top: 10px;
        // top: 25px;
        //right: 10px;
        // right: 5px;

        // right: 8px;
        right: 11px;
        // left: calc(50% - 18px);
        // left: calc(50% - -8px);
    }
    .scaleClassltr{
        font-size:30px; color:white;
        position: absolute;
        top: 10px;
        left: 11px;
        // top: 25px;
        // left: 10px;
        // left: 5px;

        // left: 20px;
        // left: calc(50% - 18px);
        // left: calc(50% - -8px);
    }

    .searchbar-input{
        padding: 6px 20px !important;
      }
      .rtl .searchbar-input {
        direction: rtl !important;
      }
      .searchbar-md .searchbar-input{
        color: grey;
        ::placeholder{
          color: grey;
        }
      }
      .searchbar-ios .searchbar-input{
        color: grey;
        ::placeholder{
          color: grey;
        }
      }
      .searchbar-search-icon {
        background-image: url("") !important;
        }
        .searchbar-input{
            border: 1px solid #e01216 !important;
                width:90% !important;
                margin-left: 10% !important;
                margin-right: 10% !important;
                border-radius: 10px  !important;
                line-height: 1rem !important;
        }
        .searchbar-input{
            
            margin: auto auto;
                width:90%;
                border-radius: 10px ;
                border:none;
                box-shadow: none;
        }
        .searchbar-clear-icon{
          background-image: url("") !important;
        }
        .label-md {
            margin: 0px;
        }
        .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
            background-image: none;
            background-image: url("../../assets/imgs/map.jpeg") !important;
        }  

        .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
            background-image: none;
        }
        
        
        .toolbar-background-md {
            border-color: #b2b2b2;
            // background: #e01213;
            background: white;
            
            background-image: url("../../assets/imgs/map.jpeg") !important;
        }
        .toolbar-background-ios {
            border-color: #b2b2b2;
            // background: #e01213;
            background: white;

        }

        .lineltr{
            padding-right: 4px;
    padding-left: 4px;
    border-right: 2px solid #e01213;
        }

        .linertl{
            padding-right: 4px;
    padding-left: 4px;
    border-left: 2px solid #e01213;
        }

        .text-input-md {
            
            margin-top: 6px;
        }


        .text-input-ios {
            
            margin-top: 6px;
        }
        #map{
            height:100%;
            width: 100%;
        }
}
