<!-- <ion-header>
    <ion-toolbar >
   <ion-row>
  <ion-col col-1>
    <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon>
  </ion-col>
  <ion-col col-11>
 
    <ion-row style="background-color: white;border:2px solid #e01213;border-radius:20px;margin: auto;width:100%">

      <ion-col col-1>
        <ion-icon name="ios-search" style="font-size:30px;color:#415357;margin: 11px;"></ion-icon>
      
      </ion-col>
      <ion-col>
        <ion-input [dir]="langDirection" type="text"  [(ngModel)]="autocomplete.input" [placeholder]="searchtxt" style="color:#415357;padding-left: 10px;padding-right: 10px;" (input)="updateSearchResults()"></ion-input>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row> 
  

  </ion-toolbar>
</ion-header> -->

<!-- color="primary" -->
  <!-- <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar> -->
    <!-- <ion-input [dir]="langDirection" type="text"  [(ngModel)]="autocomplete.input" [placeholder]="searchtxt" style="color:#415357;padding-left: 10px;padding-right: 10px;" (input)="updateSearchResults()"></ion-input> -->

<!--                
                    position: absolute;
                    top: 10px;
                    right: 14%; -->
                    <!-- width:75% -->
    <!-- <ion-header>
        <ion-toolbar >
            <ion-row>
                <ion-col col-1>
                    <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" style="color:#e01213"></ion-icon> 
                </ion-col>
                <ion-col col-11>

                    <ion-row style="background-color: white;border:2px solid #e01213;border-radius:50px 50px;margin: auto;">
                  
                      <ion-col col-1>
                        <ion-icon name="ios-car-outline" style="font-size:30px;color:#e01213;margin: 11px;" [ngClass]="borderClass"></ion-icon>
                      
                      </ion-col>
                      <ion-col>
                        <ion-input [dir]="langDirection" type="text"  [(ngModel)]="autocomplete.input" [placeholder]="searchtxt" style="color:#415357;padding-left: 20px;padding-right: 20px;" (input)="updateSearchResults()"></ion-input>
                      </ion-col>
                    </ion-row>
                  
                  
                </ion-col>
              </ion-row> 

          </ion-toolbar>
          </ion-header> -->

          <!-- style="background-color:lightgray" -->
<ion-content >
  
  

  <div   #map id="map" > </div> 
  <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" style="color:#e01213"></ion-icon>

  <!-- <button (click)="showMap()">showMap</button> -->
  <!-- <ion-row style="background-color: white;border:2px solid #e01213;border-radius:50px 50px;margin: auto;width:75%;position: absolute;
  top: 10px;
  right: 14%;">

    <ion-col col-1>
      <ion-icon name="ios-car-outline" style="font-size:30px;color:#e01213;margin: 11px;" [ngClass]="borderClass"></ion-icon>
    
    </ion-col>
    <ion-col>
      <ion-input [dir]="langDirection" type="text"  [(ngModel)]="autocomplete.input" [placeholder]="searchtxt" style="color:#415357;padding-left: 20px;padding-right: 20px;" (input)="updateSearchResults()"></ion-input>
    </ion-col>
  </ion-row>
 -->

<!-- <button (click)="createOrder()">createOrder</button> -->
  
<ion-row style="background-color: white;border:2px solid #e01213;border-radius:50px 50px;margin: auto;position: absolute;
top: 55px;
right: 6%;    height: 42px;    width: 90%;">
                  
  <ion-col col-1>
    <ion-icon name="ios-car-outline" style="font-size:26px;color:#e01213;margin: 11px;    margin-top: 5px;" [ngClass]="borderClass"></ion-icon>
  
  </ion-col>
  <ion-col>
    <ion-input [dir]="langDirection" type="text"  [(ngModel)]="autocomplete.input" [placeholder]="searchtxt" style="color:#415357;padding-left: 20px;padding-right: 20px;" (input)="updateSearchResults()"></ion-input>
  </ion-col>
</ion-row>

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <ion-list [hidden]="autocompleteItems2.length == 0">
      <ion-item *ngFor="let item of autocompleteItems2" tappable (click)="selectSearchResult2(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>

    <!-- [hidden]="hidemap" -->
  <!-- <div id="map_canvas" ></div> -->
  <!-- <div   #map id="map" ></div> -->

  <!-- <ion-row>
    <ion-col style="text-align:center;">
      <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
      <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon>
      <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 55px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">الصفحة الرئيسية</p>
      <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 19px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">Home</p>
    </ion-col>
  </ion-row>

<ion-row style="border:2px solid #e01213;border-radius:20px;margin: auto;margin-top: 10px;margin-bottom: 10px;width:80%">

  <ion-col col-1>
    <ion-icon name="ios-search" style="font-size:30px;color:#415357;margin: 11px;"></ion-icon>
  
  </ion-col>
  <ion-col>
    <ion-input [dir]="langDirection" type="text"  [(ngModel)]="autocomplete.input" [placeholder]="searchtxt" style="color:#415357;padding-left: 10px;padding-right: 10px;" (input)="updateSearchResults()"></ion-input>
  </ion-col>
</ion-row>

<ion-list [hidden]="autocompleteItems.length == 0">
  <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
    {{ item.description }}
  </ion-item>
</ion-list>
  
<div id="map_canvas" ></div> -->

<!-- [hidden]="hidemap" -->
<!-- <button (click)="waiting()">waiting</button>  -->
<!-- <button (click)="publishEvent()">fire event</button> -->
<!-- <button (click)="showMap()">showMap</button> -->
<!-- <button (click)="showorderdeatisl()">show order deatils</button> -->
<!-- <button (click)="sendpusherdata()"> send pusher data</button> -->

<ion-row style="background-color: white;border:2px solid #e01213; border-radius:50px 50px;margin: auto;    width: 90%;
position: absolute;
bottom: 45px;
right: 5%; height: 42px;">

  <ion-col col-1>
    <ion-icon name="ios-pin-outline" style="font-size:26px;color:#e01213;margin: 11px;    margin-top: 5px;" [ngClass]="borderClass"></ion-icon>
  
  </ion-col>
  <ion-col>
    <ion-input [dir]="langDirection" type="text"  [(ngModel)]="autocomplete2.input" [placeholder]="searchtxt2" style="color:#415357;padding-left: 10px;padding-right: 10px;" (input)="updateSearchResults2()"></ion-input>
  </ion-col>
</ion-row>





</ion-content>    <!-- position: absolute;
    bottom: 60px;
    right: 3%; -->

<!-- <ion-footer >
    
<div style="background-image: url('../../assets/imgs/map.jpeg') !important;">

  <div style="background-color:#e01213;border-radius:10px;    width: 94%;
  margin: auto;padding-top: 8px;
  padding-bottom: 8px;margin-bottom: 15px;">
  <ion-row style="background-color: white;border:2px solid #e01213; border-radius:50px 50px;margin: auto;width:80%">

    <ion-col col-1>
      <ion-icon name="ios-pin-outline" style="font-size:30px;color:#e01213;margin: 11px;" [ngClass]="borderClass"></ion-icon>
    
    </ion-col>
    <ion-col>
      <ion-input [dir]="langDirection" type="text"  [(ngModel)]="autocomplete2.input" [placeholder]="searchtxt2" style="color:#415357;padding-left: 10px;padding-right: 10px;" (input)="updateSearchResults2()"></ion-input>
    </ion-col>
  </ion-row>
</div>

  <ion-row style="width:100%" [hidden]="hidemap">
    <ion-col style="text-align:center;">
      <button ion-button style="width:80%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;border: 2px solid #bfbfbf;" (click)="continue()">{{"continue" | translate}}</button>
    </ion-col>
  </ion-row>

</div>

</ion-footer> -->