<!-- <ion-header>

  <ion-navbar>
    <ion-title>map</ion-title>
  </ion-navbar>

</ion-header>
 -->

 <ion-content >
  <!-- <div id="map_canvas" > -->
      <div   #map id="map" ></div>
      <ion-icon (click)="dismiss()" name="close-circle" style="font-size: 40px;color: gray;" [ngClass]="scaleClass"></ion-icon>
    <!-- <button ion-button (click)="onButtonClick($event)">Demo</button> -->
    
  
    <!-- <ion-fab middle left (click)="FinishOrder()" style="width: 80px;
    height: 80px;">
      <button ion-fab>
        {{"FinishOrder" | translate}}
      </button>
    </ion-fab> -->



  <!-- </div> -->
  <!-- right -->
  <ion-fab *ngIf="langDirection == 'ltr'" bottom center (click)="next()">
      <button ion-fab>
{{"next" | translate}}
        <!-- <ion-icon name="add"></ion-icon> -->
      </button>
    </ion-fab>
    <!-- left -->
    <ion-fab *ngIf="langDirection == 'rtl'" bottom center (click)="next()">
        <button ion-fab>
            {{"next" | translate}}
          <!-- <ion-icon name="add"></ion-icon> -->
        </button>
      </ion-fab>

</ion-content>
<!-- <ion-footer >
  <ion-row style="width:100%">
    <ion-col style="text-align:center;">
      <button ion-button style="width:80%;color:#30414c;background-color:#cbd0d3;border-radius: 50px 50px;padding: 20px 0px;font-size: 17px;margin-top: 15px;border: 2px solid #bfbfbf;" (click)="FinishOrder()">{{"FinishOrder" | translate}}</button>
    </ion-col>
  </ion-row>
</ion-footer> -->
