<!-- <ion-header>

  <ion-navbar>
    <ion-title>orders</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content >

  <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
        <!-- <img src="assets/imgs/Logo_white.png" style="width: 100px;height: 136px;position: absolute;left: calc(50% - 50px);top: calc(100% - 205px);"> -->
        <!-- <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon> -->
        <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon>
        <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 18px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">طلباتك</p>
        <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 43px);top: calc(100% - 99px);color:white;font-size:20px;font-weight: bold;">Your Orders</p>
      </ion-col>
    </ion-row>
<ion-row *ngFor="let item of ordersArr" style="border:2px solid #b07070;border-radius:10px;background-color:#f9f7f8;padding-right: 10px;padding-left: 10px;margin: 10px;">
  <ion-col col-8>
    <p style="color:#30414c;margin: 0px;margin-top: 10px;">{{item.time}} <span style="color:#b07070"> {{daytra}} </span> {{item.date}} </p>
    <ion-label style="color:gray;margin-left: 5px;margin-right: 5px;">{{ordernametra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px">{{item.id}}</span></ion-label>
    <ion-label *ngIf="item.description" style="color:gray;margin-left: 5px;margin-right: 5px;">{{orderdetailstra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px">{{item.description}}</span></ion-label>
    <ion-label  text-wrap *ngIf="item.address" style="color:gray;margin-left: 5px;margin-right: 5px;margin-bottom: 10px;">{{orderloctra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px">{{item.address}}</span></ion-label>
  </ion-col>
  <ion-col col-4>
      <div style="text-align:center">
          <img [src]="item.driverimg"  class="rounded-circle" style="width: 50px; margin: 10px;height: 50px;border:2px solid #b07070;margin-bottom: 0px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" >  
       </div>
       <p [style.color]="item.x" style="text-align:center;margin: 0px;">{{item.statusTxt}}</p>
  </ion-col>
</ion-row>

<p [hidden]="noorders" style="text-align:center;color:#e01213;    font-size: 20px;
margin-top: 50px;">{{"noorders" | translate}}</p>
<ion-item no-lines></ion-item>

</ion-content>
