<!-- <ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content >

  <ion-row>
      <ion-col style="text-align:center;">
        <img src="assets/imgs/ld10.jpg" style="width: 100%; height: 105px;">
        <!-- <ion-icon name="menu"  menuToggle [ngClass]="scaleClass" ></ion-icon> -->
        <ion-icon name="md-arrow-back"  [ngClass]="scaleClass" (click)="dismiss()"></ion-icon>
        <p *ngIf="langDirection == 'rtl'" style="position: absolute;left: calc(50% - 40px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">التفاصيل</p>
        <p *ngIf="langDirection == 'ltr'" style="position: absolute;left: calc(50% - 35px);color:white;font-size:20px;font-weight: bold;top: 5px;margin: 0px;margin-top: 5px;">Details</p>
      </ion-col>
    </ion-row>

    <img src="{{userImageUrl}}"  class="rounded-circle" style="width: 125px;height: 125px;border:2px solid #b07070;position: absolute;z-index: 977;left: calc(50% - 66px);margin-top: -47px;" onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" >


  <ion-row  style="border:2px solid #b07070;border-radius:10px;background-color:#f9f7f8;padding-right: 10px;padding-left: 10px;margin: 20px;">
    <ion-col style="text-align: center;">
      
        <ion-label style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;font-size: 20px;margin-top:80px;padding: 10px;">{{nametra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px;font-size: 18px;">{{name}}</span></ion-label>
        <ion-label style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;font-size: 20px;padding: 10px;">{{cartypetxttra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px;font-size: 18px;">{{carType}}</span></ion-label>
        <ion-label style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;font-size: 20px;padding: 10px;">{{carnotxttra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px;font-size: 18px;">{{car_num}}</span></ion-label>
        <ion-label style="color:gray;border-bottom:2px solid lightgray;margin-left: 5px;margin-right: 5px;font-size: 20px;padding: 10px;">{{mobiletra}} <span style="color:#30414c ; margin-right:10px ; margin-left :20px;font-size: 18px;">{{phone}}</span></ion-label>
        <button ion-button style="width:40%;color:white;background-color:#e01213;border-radius: 10px;padding: 20px 0px;font-size: 17px;margin-top: 50px;margin-bottom: 50px;" ><a style="text-decoration: none;" href="tel:{{phone}}"><ion-icon name="ios-call" style="font-size:37px;color:white"></ion-icon></a></button>
    </ion-col>
  </ion-row>
</ion-content>
